.maincontainer {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 5rem;
  .factlist {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2rem;
    .factbox {
      width: 20rem;
      height: 15rem;
      background-color: #161b22;
      box-shadow: 0 0 4px 0 #6e7681;
      border-radius: 1rem;
      margin-bottom: 4rem;
      .facttext {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        height: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
        .facttitle {
          font-size: 1.5rem;
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }
}
