
<div class = "popup" *ngIf="popup">
  <div>
    <input class="input" [(ngModel)]="seleccion" placeholder="Buscar"(input)=" opcionesSel()">
    <div *ngFor="let opcion of opciones" >
      <div >
        <button class="button" (click)="actualizarEntrada(opcion.nameFav, opcion.id)">{{opcion.nameFav}}</button>
      </div>
    </div>
  </div>
  <button (click)="closepopupMeme()">Close</button>
  <button (click)="addFavorite();closepopupMeme()">Add Favorite</button>
</div>
<div class="maincontainer">
  <div class="memelist">
    <div *ngFor="let meme of memes" class="memebox">
      <div class="mememarco" [routerLink]="['/memedet', meme.image]">
        <img class="memeimg" src="{{ meme.image }}" />
      </div>
      <button class="bookmarkBtn" (click)="popupMeme(meme.image)">
        <span class="IconContainer">
          <svg viewBox="0 0 384 512" height="0.9em" class="icon">
            <path
              d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"
            ></path>
          </svg>
        </span>
        <p class="text">Save</p>
      </button>
    </div>
  </div>
</div>
