<div class="maincontainer">
  <div class="metadataContainer">
    <input
      type="text"
      class="metadataInput"
      placeholder="Add new favorites group"
      [(ngModel)]="favname"
    />
    <button (click)="crearFavorito()" class="confirmBtn">Save</button>
  </div>
  <h1 style="color: white">Favorites</h1>
  <div class="memefavlist">
    <div class="memefav" *ngFor="let fav of memes">

      <div class="memefavimg">
        <img [src]="fav.memeImg" alt="" />
      </div>

      <div class="memefavname">
        <h3>{{ fav.favId }}</h3>
      </div>

      <div class="memefavbtn"></div>
    </div>
  </div>
</div>


 <!-- favorite.component.html -->
<!--
 <h1>Lista de favoritos</h1>
 Mostrar todos los favoritos
 <div>
   <ul>
     <li *ngFor="let favorite of favorites">
       {{ favorite.nameFav }}
     </li>
   </ul>
 </div>

 <div>
   <h2>Memes favoritos</h2>
   <ul>
     <li *ngFor="let meme of memesFavorite">
       {{ meme.imageUrl }}
     </li>
   </ul>
 </div>

 <div>
   <h2>Crear nuevo favorito</h2>
   <input [(ngModel)]="favname" placeholder="Nombre del favorito" />
   <button (click)="crearFavorito()">Crear</button>
 </div>  -->

